
$file_map: (
    "f1c2":(
  		("doc" "docx"),
  		"doc"
		),
    "f1c8":(
		("mp4" "wav"),
		"video"
	),
	"f1c7":(
		("mp3"),
		"audio"
	),
    "f1c4":(
		("ppt"),
		"powerpoint"
	),
    "f1c1":(
		("pdf"),
		"pdf"
	),
    "f1c5":(
		("jpg" "png" "gif" "tiff"),
		"image"
	),
    "f1c3":(
		("xls" "xlsx"),
		"excel"
	),
    "f1c9":(
		("js" "css"),
		"scripts"
	),
	"f1c6":(
		("zip" "tar"),
		"archive"
	)
);


@mixin map-to-selectors($file_map, $pseudo , $prefex, $otherSelectors) {
  $selectors: ();
  @each $_type, $_val in $file_map {
		$class: nth($_val, 2);
		$selectors: append($selectors, unquote("
		#{$prefex} .#{$class}#{$pseudo}"), comma);
		$exts: nth($_val, 1);
		@each $ext in $exts {
			$selector: unquote("
			#{$prefex} a[href$='.#{$ext}']:not(.not-autostyle)#{$pseudo}");
			$selectors: append($selectors, $selector, comma);
		}

	}
  @if "" != $otherSelectors {
    $selectors: append($selectors, $otherSelectors, comma);
  }
  #{$selectors} { @content; }
}


img {
    border: 0;
    height: auto;
    max-width: 100%;
    width: 100%;
}

@include map-to-selectors($file_map, "", "", "a[href^='mailto']:not(.not-autostyle)") {
    background: #eff0f1;
    border-style: solid;
    border-width: 1px;
    border-color: #d7dadb #8d959a #8d959a #d7dadb;
    border-radius: .5em;
    color: #981e32;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
    line-height: normal;
    padding: 0em 0.4em;
    min-height: 2.2em;
    margin-left: .2em;
    vertical-align: middle;
    margin-right: .2em;
};

@include map-to-selectors($file_map, "", "#spine-navigation ", "") {
	border:none;
	background: transparent;
};


@include map-to-selectors($file_map, "", "", "a.button,
 a[href^='mailto']:not(.not-autostyle),
.gen_doc") {
	border-color: #000;
	border-width: 2px;
	font-weight: 700;
	padding-left:5px;
};

@include map-to-selectors($file_map, ":hover", "", "a.button:hover,
a[href^='mailto']:not(.not-autostyle):hover,
.gen_doc:hover") {
	border-color: #000;
	border-width: 2px;
	font-weight: 700;
};


@include map-to-selectors($file_map, ":before", "", "a.button:before,
a[href^='mailto']:not(.not-autostyle):before,
.gen_doc:before") {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-right:5px;
	    font-size: 19px;
	line-height: 23px;
	color:#000;
};

@include map-to-selectors($file_map, "", "", "a.button.news,
a.button.contact,
a.button.docment,
#feedback_back_btn,
.gen_doc") {
	padding-left: 9px;
	text-decoration: none;
};


@include map-to-selectors($file_map, ":before", "#spine-navigation", "#spine-navigation a[href^='mailto']:not(.not-autostyle):before,
.gen_doc:before,
#feedback_back_btn:before") {
	font-size: 15px;
};

@include map-to-selectors($file_map, "", "#spine-navigation", "#spine-navigation a[href^='mailto']:not(.not-autostyle)") {
	font-weight: 400;
    line-height: 1em;
    height: auto;
};

@include map-to-selectors($file_map, ":after", "#spine-navigation", "#spine-navigation a[href^='mailto']:not(.not-autostyle):after") {
	font-weight: 400;
    line-height: 1em;
    height: auto;
	margin-top: 6px;
};

@include map-to-selectors($file_map, ":before", ".darker #spine-navigation", ".darker #spine-navigation  a[href^='mailto:']:not(.not-autostyle):before") {
	color:#fff;
};
@include map-to-selectors($file_map, ":before", ".dark #spine-navigation", ".dark #spine-navigation  a[href^='mailto:']:not(.not-autostyle):before") {
	color:#fff;
};



a.button.news:before{
	content: "\f1ea";
}
a.button.contact:before{
	content: "\f0e0";
}
a.button.docment:before{
	content: "\f07c";
}
a[href^="mailto:"]:not(.not-autostyle):before{
	content: "\f003";
}
#feedback_back_btn:before{
	content: "\f100";
}
.gen_doc:before{
    content: "\f016";
}
//@for $i from 1 to $number {
@each $_type,$_val in $file_map {
  $class: "";
$classed: nth($_val, 2);

		$class:  $class + "
		a.#{$classed}:before,";

$exts: nth($_val, 1);
	@each $ext in $exts {
		$class:  $class + "
		a[href$='.#{$ext}']:not(.not-autostyle):before,";
	}

	#{$class}{
	  content: unquote("\"")+unquote(str-insert($_type,"\\", 1))+unquote("\"");
	}

}

@include map-to-selectors($file_map, "", "p ", "p a.button.news,
p a.button.contact,
p a.button.docment,
p a[href^='mailto:']:not(.not-autostyle)") {
    line-height: 2em;
    padding: 0 0.62em;
    margin: -3.9px 0.35em 0 .25em;
    font-size: 0.8em;
};


@include map-to-selectors($file_map, ":before", "p ", "p a.button.news:before,
p a.button.contact:before,
p a.button.docment:before,
p a[href^='mailto:']:not(.not-autostyle):before") {
    line-height: 1em;
    font-size: 1.5em;
};

@include map-to-selectors($file_map, ":before", ".ie p ", ".ie p a.button.news:before,
.ie p a.button.contact:before,
.ie p a.button.docment:before,
.ie p a[href^='mailto:']:not(.not-autostyle):before") {
    line-height: 1.35em;
    font-size: .55em;
};




/*media all*/


@include map-to-selectors($file_map, "", ".ie p ", ".ie p a.button.news,
.ie p a.button.contact,
.ie p a.button.docment,
.ie p a[href^='mailto:']:not(.not-autostyle)") {
	line-height: 1.5em;
	padding: 0 .52em;
	margin: -2px .75em 0;
	height: 2em;
};

@include map-to-selectors($file_map, ":before", ".ie p main ", ".ie main p a.button.news:before,
.ie main p a.button.contact:before,
.ie main p a.button.docment:before,
.ie main p a[href^='mailto:']:not(.not-autostyle):before") {
	//line-height: 0;
	//font-size: .5em;
};

