img {
    border: 0;
    height: auto;
    max-width: 100%;
    width: 100%;
}

a[href$=".pdf"]:not(.not-autostyle),
a[href$=".xls"]:not(.not-autostyle),
a[href^="mailto:"]:not(.not-autostyle) {
    background: #eff0f1;
    border-style: solid;
    border-width: 1px;
    border-color: #d7dadb #8d959a #8d959a #d7dadb;
    border-radius: .5em;
    color: #3b4042;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
    line-height: normal;
    padding: 0.3em 1em;
    height: 2.5em;
    vertical-align: middle;
}
#spine-sitenav a[href$=".pdf"]:not(.not-autostyle){
	border:none;
	background: transparent;
}

a.button,
a[href$=".pdf"]:not(.not-autostyle),
a[href$=".xls"]:not(.not-autostyle),
a[href^="mailto"]:not(.not-autostyle)  {
	border-color: #000;
	border-width: 2px;
	font-weight: 700;
	padding-left:5px;
}
a.button:hover,
a[href$=".pdf"]:not(.not-autostyle):hover,
a[href$=".xls"]:not(.not-autostyle):hover,
a[href^="mailto:"]:not(.not-autostyle):hover  {
	border-color: #000;
	border-width: 2px;
	font-weight: 700;
}
a.button:before,
a[href$=".pdf"]:not(.not-autostyle):before,
a[href$=".xls"]:not(.not-autostyle):before,
a[href^="mailto:"]:not(.not-autostyle):before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-right:5px;
	font-size: 26px;
	line-height: 23px;
	color:#000;
}

a.button.news,
a.button.contact,
a.button.docment,
a[href$=".pdf"]:not(.not-autostyle),
a[href$=".xls"]:not(.not-autostyle),
a[href^="mailto:"]:not(.not-autostyle),
#feedback_back_btn{
	padding-left: 9px;
	text-decoration: none;
}
#spine-sitenav a[href$=".pdf"]:not(.not-autostyle):before,
#spine-sitenav  a[href$=".xls"]:not(.not-autostyle):before,
#spine-sitenav  a[href^="mailto:"]:not(.not-autostyle):before,
#feedback_back_btn:before{
	font-size: 15px;
}
#spine-sitenav a[href$=".pdf"]:not(.not-autostyle),
#spine-sitenav  a[href$=".xls"]:not(.not-autostyle),
#spine-sitenav a[href^="mailto:"]:not(.not-autostyle){
	font-weight: 400;
    line-height: 1em;
    height: auto;
}

#spine-sitenav a[href$=".pdf"]:not(.not-autostyle):after,
#spine-sitenav a[href$=".xls"]:not(.not-autostyle):after,
#spine-sitenav  a[href^="mailto:"]:not(.not-autostyle):after{
	margin-top: 6px;
}



.darker #spine-sitenav a[href$=".pdf"]:not(.not-autostyle):before,
.darker #spine-sitenav a[href$=".xls"]:not(.not-autostyle):before,
.darker #spine-sitenav  a[href^="mailto:"]:not(.not-autostyle):before,
.dark #spine-sitenav a[href$=".pdf"]:not(.not-autostyle):before,
.dark #spine-sitenav a[href$=".xls"]:not(.not-autostyle):before,
.dark #spine-sitenav  a[href^="mailto:"]:not(.not-autostyle):before{
	color:#fff;
}




a.button.news:before{
	content: "\f1ea";
}
a.button.contact:before{
	content: "\f0e0";
}
a.button.docment:before{
	content: "\f07c";
}
a[href$=".pdf"]:not(.not-autostyle):before{
	content: "\f1c1";
}
a[href$=".xls"]:not(.not-autostyle):before{
	content: "\f1c3";
}
a[href^="mailto:"]:not(.not-autostyle):before{
	content: "\f003";
}
#feedback_back_btn:before{
	content: "\f100";
}


p a.button.news, p a.button.contact,
p a.button.docment, p a[href$=".pdf"]:not(.not-autostyle),
p a[href$=".xls"]:not(.not-autostyle), p a[href^='mailto:']:not(.not-autostyle) {
    line-height: 1.5em;
    padding: 0 .52em;
    margin: 0 .75em;
    margin-top: -2px;
}

p a.button.news:before, p a.button.contact:before,
p a.button.docment:before, p a[href$=".pdf"]:not(.not-autostyle):before,
p a[href$=".xls"]:not(.not-autostyle):before, p a[href^='mailto:']:not(.not-autostyle):before {
    line-height: 1em;
    font-size: 1.5em;
}

.ie9 p a.button.news:before, .ie9 p a.button.contact:before,
.ie9 p a.button.docment:before, .ie9 p a[href$=".pdf"]:not(.not-autostyle):before,
.ie9 p a[href$=".xls"]:not(.not-autostyle):before, .ie9 p a[href^='mailto:']:not(.not-autostyle):before {
    line-height: 1.35em;
    font-size: .55em;
}
