/*contact cards */
.content-card p, .content-card h2,.content-card h3,
.content-card h4{
	max-width:100%;
}
.profile-summary h2, .profile-summary h3, .profile-summary h4 {
	padding:0;
	margin:0;
}
.profile-summary h4 {
	padding-top: .5rem;
}

/*media all*/
.profile-summary a[href^=mailto] {
    font-size: 1.65rem;
    height: 2.4rem;
    padding-left: 2.2rem;
}
/*media all*/
a[href^='mailto:']::before {
    content: "\f0e0";
    font-size: 1.65rem;
    left: 0.3rem;
}
.profile-summary a[href^='mailto:']::before {
    content: "\f0e0";
    font-size: 1.65rem;
}
.ie9 .profile-summary a[href^='mailto:']::before {
    content: "\f0e0";
    font-size: 0.35rem;
}
.profile-summary .list-throwback,
.profile-summary .strong {
    margin-bottom: 0;
}
