
body{
	overflow-y: scroll; // since we can detect the scrollbar via CSS then we make it be there in window to use in math
}

.home header.main-header {
    display: none;
}
#binder{
	position:relative;
	box-shadow: rgb(0, 0, 0) 0 -.2rem 2.9rem;
}

main {
	background: #dedede;
	padding-bottom: 3.4rem;
}

address {
    margin: 15px 15px 15px 25px;
    font-style: italic;
}
// temp check that it is still needed
.nice-number>dd:before, .nice-number>li:before{
	left: -2rem;
}


.nice-table {
	border-bottom: .2rem solid #393939 !important;
	margin-bottom: .8rem;

}

.nice-table.head > * {
	counter-reset: nt_head_counter;
	counter-increment: nt_head_counter;
}
.nice-table:not(.head) > * {
	width: calc( (1 / counter(nt_head_counter)) * 100% );
}

.nice-table > * {
	counter-increment: row_counter;
	content: counter(nn_counter) "";
}

.nice-table > :last-child {
	border-right: none;
	text-align: left;
}



//auto header
#content_area > .column-section > .grid-part > h1, #content_area > .column-section > .grid-part > h2 {
	box-shadow: none !important;
	box-sizing: border-box;
	position: relative;
	padding: 0 !important;
	margin-bottom: 1rem !important;
}

#content_area, .content_less [id^='builder-section']{
	box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    border: 1px solid rgba(241, 241, 241, 0.89);
	box-sizing: border-box;
	color:#292929;
	z-index: 2;
	font-size: 1.2rem;
	position: relative;
	border-radius: .5rem;
	//padding: .5rem;
}

// added till content is edited
[data-type="faiswsuwpsingle"].column-section.flex-row.items-start {
	padding: 1.5rem;
}

[data-type="faiswsuwpsingle"].column-section.flex-row.items-start>.pad-tight,
[data-type="faiswsuwpsingle"].column-section.flex-row.items-start>.flex-column {
	padding: 0;
}


#content_area{
	margin: .5rem 1.5rem;
}
.content_less {
	padding: .5rem 1.5rem;
}

.banner-section h2,
.banner-section span,
.banner-section a,

.banner-section .cycle-pager > .cycle-pager-active
.banner-section .cycle-pager > span:nth-of-type(2) {
	text-shadow: 0 0 5px rgba(41,41,41,0.9), 0 0 10px rgba(41,41,41,0.9);
}

#content_area, [id^='builder-section'].row, [id$=""]:not(#content_area) [id^='builder-section'].flex-row, .content_less [id^='builder-section'] {margin-top: 3.7rem;}
.type-page > .banner-section + #content_area {margin-top: -3.5rem;}

.ie.ie9 .type-page > .banner-section + #content_area {margin-top:0;}
/*[data-useragent*="Windows NT 6.1"] .nice-number > dd::before,[data-useragent*="Windows NT 6.1"] .nice-number > li::before{
	padding:0.5rem 0 0 0.465rem;
}

[data-useragent*="Windows NT 6.1"] .nice-number>dd::before, [data-useragent*="Windows NT 6.1"] .nice-number>li::before {
    padding: .12rem 0 0 .495rem;
}*/
[data-useragent*="Windows NT 6.1"][data-useragent*="Trident"] .nice-number>dd::before,
[data-useragent*="Windows NT 6.1"][data-useragent*="Trident"] .nice-number>li::before {
	padding: .7rem 0 0 .465rem !important;
}

.type-page>section.banner-section {
    margin-top: 74px;
}

#content_area > .banner-section{ overflow-y:hidden; padding:0; }
#content_area > .banner-section > .banner-column > .builder-section-content > .builder-banner-slide,
#content_area > .banner-section > .banner-column > .builder-section-content.cycle-slideshow .builder-banner-slide {
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    border: 1px solid rgba(241, 241, 241, 0.89);
    margin-bottom: -1rem;
}
//builder-banner-slide
/*#content_area > .banner-section > .banner-column > .builder-section-content.cycle-slideshow::after,
#content_area > .banner-section > .banner-column > .builder-section-content:not(.cycle-slideshow) .builder-banner-slide.first-slide::after,
#content_area > .banner-section > .banner-column > .builder-section-content.cycle-slideshow::after{
    padding: 0 0 0 3px;
    width: 100%;
    box-shadow: inset 0 -4px 5px 2px rgba(50,50,50,.75);
}*/
.builder-banner-inner-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	overflow: hidden;
	font-size: 1rem;
	vertical-align: end;
	margin-bottom: 4rem;
	>div{
		background: -moz-radial-gradient(center, ellipse cover, rgba(28,5,5,0.4) 0%, rgba(30,12,5,0.47) 7%, rgba(33,21,6,0.4) 15%, rgba(33,21,6,0.35) 20%, rgba(33,21,6,0) 63%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(28,5,5,0.4) 0%,rgba(30,12,5,0.47) 7%,rgba(33,21,6,0.4) 15%,rgba(33,21,6,0.35) 20%,rgba(33,21,6,0) 63%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, rgba(28,5,5,0.4) 0%,rgba(30,12,5,0.47) 7%,rgba(33,21,6,0.4) 15%,rgba(33,21,6,0.35) 20%,rgba(33,21,6,0) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#661c0505', endColorstr='#00211506',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}
#content_area > [data-type="faiswsuwpsingle"] {
    overflow:hidden;
    box-sizing: border-box;
    color: #292929;
    z-index: 2;
    position: relative;
	border-radius: .7rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#content_area > [data-type="faiswsuwpsingle"] > .grid-part:not(.pad-airy) {
    padding: 0;
}
#content_area > [data-type="faiswsuwpsingle"] > .grid-part:not(.pad-tight) {
    padding: 0;
}

#content_area > .column-section > .grid-part > h1,
#content_area > .column-section > .grid-part > h2 {
    box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    //border: 1px solid rgba(241, 241, 241, 0.89);
    box-sizing: border-box;
    position: relative;
    padding: .5rem 1.5rem 1.2rem 1.5rem;
	margin-bottom: -.4rem;
}
.column-section div header{
	width:100%;
}


body.home:not(.has-background-image) #jacket {
    background-position: center bottom;
    background-repeat: no-repeat;
}
.style-bookmark .main-header {
    background: #981e32;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: auto;
}

//.home .style-bookmark .main-header { display:none; }
:nth-child(1).sup-header-default {
	font-size: 35px;
	margin-top: 1.5rem;
}
#content_area, .content_less [id^=builder-section], [id$=""]:not(#content_area) [id^=builder-section].flex-row, [id^=builder-section].row {
	margin-top: calc(3.7rem + 6rem);
}

[data-type="banner"] + #content_area {
	margin-top: calc(3.7rem + 5rem);
}

body #binder header.main-header {
	display: block;
	position: fixed;
	top: 0;
	left: inherit;
	z-index: 8;
	background: none;
	width: calc( 100% - (100vw - 100.7rem) );
}
_::-webkit-full-page-media, _:future, :root body #binder header.main-header{
	width: calc( 100% - (100vw - 99rem) );
}

[data-useragent*="Firefox"] body #binder header.main-header {
	width: calc( 100% - (100vw - 99rem) );
}

.main-header .header-group {
	padding: 2rem 0 1.1rem 1.3rem;
	background-color: rgba(60,133,216,0.62);
	max-width: 100%;
}

span.sub-header-default {
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 0.2rem;
	margin-top: -0.7rem;
}
:nth-child(1).sup-header-default,
:nth-child(1).sup-header-default a,
:nth-child(1).sup-header-default span  {
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

body div#border_top {
	background: #1122a3;
	height: 1.3rem;
	position: fixed;
	top: 0;
    width: calc(100% - (100vw - 120.5rem));
	z-index: 9;
}

_::-webkit-full-page-media, _:future, :root body div#border_top {
    width: calc(100% - (100vw - 118.8rem));
}
[data-useragent*="Firefox"] body div#border_top {
    width: calc(100% - (100vw - 118.8rem));
}

.flex-row > img {
	height:100%;
}

dl.flex-row, ol.flex-row, ul.flex-row{
    margin: 0;
}
@media screen and (max-width: 693px){
    .type-page>section.banner-section {
        margin-top: 0px;
    }
    div#content_area {margin-top: 15px;}
}

@media (min-width: 668px ) and (max-width: 989px){
	.main-header .header-group{
		top:5rem;
	}
}
@media (max-width: 989px){
	.opensansy .main-header sup.sub-header[data-sitename]{
		font-size:1.2rem;
	}
}
@media (max-width: 667px){
	body #binder main header.main-header {
		position: relative;
	}
	.main-header .header-group{
		top: 0;
	}
}
@media (max-width: 810px){
	body div#border_top,
	body #binder header.main-header {
		width: 100%;
	}
}
@media (min-width: 811px ) and (max-width: 989px){
	body div#border_top,
	body #binder header.main-header {
		width: calc( 100% - (100vw - 80.9rem) );
	}
	_::-webkit-full-page-media, _:future, :root body #binder header.main-header {
		width: calc( 100% - (100vw - 79.2rem) );
	}
	_::-webkit-full-page-media, _:future, :root body div#border_top {
		width: calc( 100% - (100vw - 79.2rem) );
	}
	[data-useragent*="Firefox"] body #binder header.main-header,// {
		//width: calc( 100% - (100vw - 79.2rem) );
	//}
	[data-useragent*="Firefox"]  body div#border_top {
		width: calc( 100% - (100vw - 79.2rem) );
	}

}
@media only screen and (max-width: 693px){
	#binder.fluid main, #binder.hybrid main {
		margin-top: 30px;
	}
}
@media (min-width: 990px ) and (max-width: 1007px){
	body div#border_top,
	body #binder header.main-header {
		width: 100%;
	}
}


@media (min-width: 1008px ) and (max-width: 1187px){
	body #binder header.main-header {
		width: calc( 100% - (100vw - 80.9rem) );
	}
	_::-webkit-full-page-media, _:future, :root body #binder header.main-header { //iOS has no scroll bar ``/
		width: calc( 100% - (100vw - 79.2rem) );
	}
	[data-useragent*="Firefox"] body #binder header.main-header { //iOS has no scroll bar ``/
		width: calc( 100% - (100vw - 79.2rem) );
	}
	body div#border_top {
		width: calc( 100% - (100vw - 100.7rem) );
	}
	_::-webkit-full-page-media, _:future, :root body div#border_top {
		width: calc( 100% - (100vw - 99rem) );
	}
	[data-useragent*="Firefox"] body div#border_top {
		width: calc( 100% - (100vw - 99rem) );
	}
}

#binder:after, .clearfix:after, .rebound:after, .row:not(.clear-none):after, main:after {
    clear: both;
    top: 0;
}

#footer{
	margin: 0 .5rem 1.3rem 2.5rem;
	//font-size: 1.4rem;
}
#footer ul li{
	display:inline-block;
}

main h1,.page h1.article-title{
    font-weight:900;
    //font-size: 2.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

main h2{
    font-weight:700;
    //font-size:2rem;
    padding:0;
    margin: 0;
    margin-bottom: .8rem;
}
main .h4, main h4 {
	//font-size: 1.48rem;//!important;
}

main p,main a {
	//font-size: 1.2rem;
}

main h3 {
	//font-size: 1.1rem;//!important;
}

div#side_right {
	background: rgba(136, 136, 136, 0.45);
	color: #4A4A4A;
	box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    border: 1px solid rgba(241, 241, 241, 0.89);
}
div#side_left {
	background: rgba(186,186,186,0.45);
	box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    border: 1px solid rgba(241, 241, 241, 0.89);
}
div#side_left h2{
	font-size: 1.7rem;
	font-weight: 600;
	border-bottom: 1px solid #333;
}

div#side_left ul, div#side_right ul{
	padding: 0 0 0 1.5rem;
	margin: 0.65rem 0;
}

div#side_left ul li, div#side_right ul li{
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.1rem;
	margin-bottom: .25rem;
	padding: 0 0 .25rem 0;
	color: #4A4A4A;
}
div#side_right h3{
	font-size: 1.5rem;
	font-weight: 600;
	color: #272727;
	border-bottom: .1rem solid #272727;
}
div#side_right h4{
	font-size: 1.5em;
	font-weight: 600;
	color: #272727;
}

#new_home_page{
	background: rgba(186,186,186,0.45);
}
#new_home_page h3{
	font-size: 2rem;
	font-weight: 600;
	border-bottom: .1rem solid;
	margin-bottom: .5rem;
}
#new_home_page h4{
	font-size: 1.7rem;
	font-weight: 400;
	font-style: italic;
	margin-bottom: .5rem;
	padding: 0;
	border-bottom: .4rem solid;
}
.news-highlight-img{
	display: inline-block;
	/*float: left;*/
	margin-right: 1rem;
	margin-bottom: .7rem;
}
.inline-img {
    width: auto;
    height: 1em; // to be at line height of content it is in.
    vertical-align: middle;
    margin-top: -2px;
    padding: 0 2px;
}
#new_home_page p{
	//font-size: 1rem;
	font-weight:400;
	font-style: italic;
}
span#fake_img {
	display: block;
	float: left;
	width: 25.8rem;
	height: 18.5rem;
	background: #1571B5;
}

div#border_top {
    background: #1122a3;
    height: 1.3rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
div#border_top:before {
    background: #A8A8A8;
    height: .7rem;
    position: absolute;
    top: 1.7rem;
    width: 100%;
    z-index: 9;
    content:"";
}
div#border_bottom {
    background: #1122a3;
    height: 1.3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
div#border_bottom:before {
    background: #A8A8A8;
    height: .7rem;
    position: absolute;
    bottom: 1.7rem;
    width: 100%;
    z-index: 9;
    content:"";
}
main .spine-blank-template {
	width: 40rem;
	background-color: #F2F2F3;
}



.contact-us div {
    padding: 0;
}
