/*contact cards */
.content-card p, .content-card h2,.content-card h3,
.content-card h4{
	max-width:100%;
}
.profile-summary h2, .profile-summary h3, .profile-summary h4 {
	padding:0;
	margin:0;
}
.profile-summary h4 {
	padding-top: .5rem;
}

/*media all*/
.profile-summary a[href^=mailto] {
    padding: 0 .7rem;
    line-height: 2.5rem;
    font-size: 1.65rem;
	height: 3.1rem;
}
/*media all*/
a[href^='mailto:']::before {
    content: "\f003";
    font-size: 1.45rem;
    line-height: 0.9rem;
}
.profile-summary a[href^='mailto:']::before {
    content: "\f003";
    font-size: 1.65rem;
}
.ie9 .profile-summary a[href^='mailto:']::before {
    content: "\f003";
    font-size: 0.35rem;
}
.profile-summary .list-throwback {
    margin-bottom: 0;
}
