//simple actions
body:not(#tinymce) .folding > * {
	> *:nth-child(1) + *  {
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	> *:nth-child(1){
		cursor:pointer;
		margin: 0;
		&:hover{
			opacity: .85;
		}
	}
}
body:not(#tinymce) .folding .unfolded + * {
	height: 100%;
	overflow: visible;
	transition: height 1s ease-in-out;
}
