//simple actions
body:not(#tinymce) .folding > * {
	&:nth-child(odd) + *  {
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	&:nth-child(odd){
		cursor:pointer;
		margin: 0;
		&:hover{
			opacity: .85;
		}
	}
}
body:not(#tinymce) .folding .unfolded + * {
	height: 100%;
	overflow: visible;
	transition: height 1s ease-in-out;
}

body:not(#tinymce) .folding.as-more > * {
	&:nth-child(odd){
		&:hover{
		}
		&:after{
			content: "More... ";
			padding-left: .5rem;
			font-size: 50%;
			float:right;
		}
		&:before{
			//content:"\f101";

			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			padding-left:.5rem;
			font-size: 50%;
		}&:before{
			//float:right;
		}
	}
}
.accordion .ui-accordion-header .ui-icon{
	display:none;
}
.accordion .ui-accordion-header:before {
    content:"\f196";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right:.5rem;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #630c1c;
    background: #9b1e34;
    font-weight: normal;
    color: #ffffff;
}
.accordion .ui-accordion-header:hover {
    cursor:pointer;
    color: #9d060b;
}
.accordion .ui-accordion-header:hover:before {
    color: #9d060b;
    content:"\f0fe";
    padding-right:.35rem;
}

.accordion .ui-accordion-header.ui-state-active:hover {
    color: #c7c7c7;
}
.accordion .ui-accordion-header.ui-state-active:hover:before {
    color: #c7c7c7;
}
.accordion .ui-accordion-header.ui-accordion-header-active:before{
     content:"\f147";
}
.accordion .ui-accordion-header.ui-accordion-header-active:hover:before{
     content:"\f146";
}

.ui-widget-content a{
	color: #9d060b !important;
}
.ui-widget-content a:hover {
    color: #c60c30 !important;
}
/*body:not(#tinymce) .folding > *:nth-child(1) + *  {
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
body:not(#tinymce) .folding > *:nth-child(1){
		cursor:pointer;
		margin: 0;
	}
body:not(#tinymce) .folding > *:nth-child(1):hover{
			opacity: .85;
		}

body:not(#tinymce) .folding > .unfolded + * {
	height: 100%;
	overflow: visible;
	transition: height 1s ease-in-out;
}*/
