/* forms */
input[type=text], input[type=password], input[type=email], select, textarea{
	border-radius: 5px;
	border: 2px solid #6d6d6d;
    padding: 6px 4px;
    outline: 0;
    color: #777;
    margin: 0;
    background: #fff;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    border: 2px solid #aaa;
}

input::-webkit-input-placeholder {
color: #777 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #777 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #777 !important;
}

input:-ms-input-placeholder {
color: #777 !important;
}

// super pointed content.
[action="/feedback-form/"] [type="submit"] {
    float: right;
}
