
ol, ul {
    list-style: none;
    margin-left: 17px;
	font-size:#{$root-font-list};
}
form ol, form ul{
	padding:0;
}

address ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
}
address ul li {
    padding: 0;
    margin: 0;
}

main ol li, main ul li {
	line-height: 1.3em;
}

.list-throwback {
	font-size:#{$root-font-list};
    margin-bottom: 1.5em;
    margin-left: 1.4em;
}

.list-throwback > li{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style: inside;
}

.nice-number {
    font-size:#{$root-font-list};
}

.nice-number>dd, .nice-number>li {
    font-size:1em;
}
