ol, ul {
	list-style-type: none;
	margin-left: 1.7rem;
	//font-size:#{$root-font-list};
	padding: 0 2rem 1rem 1rem;
}

ol > li:before,ul > li:before {
	content: "-";
	position: relative;
	left: -5px;
}
.spine-sitenav ul > li:before {
	content:none;
}
form ol, form ul{
	padding:0;
}

address ul {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

address ul li {
    padding: 0;
    margin: 0;
}

ol.list-throwback > li:before,ul.list-throwback > li:before {
    content: '\2022';
    position: relative;
    left: -5px;
    font-size: 1.8rem;
    top: .3rem;
}



/*
.list-throwback {
    margin-bottom: 1.5rem;
    margin-left: 1.4rem;
}

.list-throwback > li, li.list-throwback {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style: outside;
}

ul .list-throwback, ol .list-throwback,
ul ul, ol ol,
ul ol, ol ul  {
    margin-left: 0;
	padding-left:2rem;
}
*/
