ol:not(.lists), ul:not(.lists) {
	list-style-type: none;
	margin-left: 1.7rem;
	//font-size:#{$root-font-list};
	padding: 0 2rem 1rem 1rem;
}

ul.lists{
    padding:0;
    margin:0;
}
ul.lists:not([class='pad-'])>li:not([class='pad-']) {
    padding:0;
	margin:0;
	overflow: hidden;
}
ul.lists>li>a[href]:not(.not-autostyle):before {
    width: 100%;
    height: 100%;
    font-size:1.7rem;
    padding-top:.45rem;
}
ul.lists>li>a[href]:not(.not-autostyle) {
    width: 100%;
    height: 100%;
	padding: .85rem 1rem .85rem 2.2rem;
	display: block;
}
ul.lists>li:hover,ul.lists>li:hover>a{
    background:rgba(206, 206, 206, 0.88);
}


ul.list-index {
    /*position: absolute;
    right: 1.3rem;
    top: 4.8rem;*/
    float:right;
    width: 25rem;
    background: #a7a7a7;
    padding: .7rem 0;
    border-radius: 1.5rem 0 0 1.5rem;
}
ul.list-index li:before {
    content:""; /*reset the default style*/
}
.list-index li h5 {
    padding-left: 1.7rem;
    font-weight: 600;
    border-bottom: 1px solid #7b7b7b;
}
ul.list-index li a[href]{
    color:#E9E9E9;
    font-weight:700;
    font-size:1.3rem;
    border-bottom: 1px solid #7b7b7b;
    width:100%;
    display:block;
    padding:.3rem 1.5rem;
}
ul.list-index li a[href]:hover{
    color:#353535;
    background: #d8d8d8;
}



ol > li:before,ul > li:before {
	content: "-";
	position: relative;
	left: -5px;
}

#spine ul > li:before,
.spine-navigation ul > li:before,
ul.list-blank > li:before,
ol.list-blank > li:before,
ul.blank > li:before,
ol.blank > li:before,
ul.ui-tabs-nav>li:before, //account for jQuery UI
ol[style*="list-style-type"] > li:before, //accounting for WP tinyMCE
ul[style*="list-style-type"] > li:before {
	content:none;
}

ol[style*="list-style-type"], ul[style*="list-style-type"] {
	list-style-type: none;
	margin-left: 1.7rem;
	//font-size:#{$root-font-list};
	padding: 0 2rem 1rem 1rem;
}

ol.strong > li,
ul.strong > li,
ol.list-throwback > li,
ul.list-throwback > li,
ol.weak > li,
ul.weak > li{
	position: relative;
}

form ol, form ul{
	padding:0;
}

address ul {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

address ul li {
    padding: 0;
    margin: 0;
}

ol.weak > li:before,ul.weak > li:before{
    content: '\00ba';
    position: absolute;
    left: -1rem;
    font-size: 1.8rem;
    top: 0;

}


ol.strong > li:before,ul.strong > li:before,
ol.list-throwback > li:before,ul.list-throwback > li:before {
    content: '\2022';
    position: absolute;
    left: -1rem;
    font-size: 1.8rem;
    top: 0;

}


