body.admin-bar #binder header.main-header {
    top: 26px;
}
/* Admin Bar */
@media (min-width: 990px) {
	.admin-bar #spine #glue {
		margin-top: 0;
	}
	body.admin-bar {
		margin-bottom: -32px !important;
		/*padding-top: 32px !important;*/
	}
}
@media (max-width: 810px){
	body.admin-bar #binder header.main-header {
		top: -20px;
	}
	body.admin-bar .type-page>section.banner-section {
		margin-top: 109px;
	}
}
@media (max-width: 989px) and (min-width: 811px){
	body.admin-bar #binder header.main-header {
		top: -20px;
	}
	body.admin-bar .type-page>section.banner-section {
		margin-top: 60px;
	}
}
@media (max-width: 989px) {
	body.admin-bar {
		margin-top: 18px !important;
		padding-bottom: 0 !important;
	}
	body.admin-bar #binder main {
		margin-left: 0;
		margin-top: 0px;
	}
	#wpadminbar {
		top: auto !important;
		bottom: 0 !important;
		position: fixed !important;
	}

	#wpadminbar .quicklinks>ul>li {
		position: relative;
	}

	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
		bottom: 32px;
		box-shadow: none;
	}
}

@media (max-width: 780px) {

	body.admin-bar {
		margin-top: -46px !important;
		padding-bottom: 46px !important;
	}

	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
		bottom: 46px;
	}

}


@media (max-width: 667px){
	body.admin-bar #binder header.main-header {
		top:30px;
	}
	body.admin-bar .type-page>section.banner-section {
		margin-top: 30px;
	}
}
