
.ttfmake-stage{



	font-size: 1.2rem;
	position: relative;
	border-radius: .5rem;

    background: #fff5f5;
    background: repeating-linear-gradient( 45deg, rgba(200, 200, 200, 0.05), rgba(200, 200, 200, 0.05) 3px, rgba(255, 255, 255, 0.05) 3px, rgba(255, 255, 255, 0.05) 15px ), linear-gradient(to right, #dedede, #dedede);
	    box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.55);

	/*box-shadow: inset 0 0 .5rem .2rem rgba(50, 50, 50, 0.75);*/
	box-sizing: border-box;
	color:#292929;


	padding:5px;
box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.15);
    border: 1px solid rgba(241,241,241,.89);
    box-sizing: border-box;
    color: #292929;
    z-index: 2;
    font-size: 1.2rem;
    position: relative;
    border-radius: .5rem;
    padding: .5rem;
}
.ttfmake-section.active-false{
	position: relative;
}
.ttfmake-section.active-false .ttfmake-section-header{

    opacity: 0.6;
    border: .1rem dashed red;
}
.ttfmake-section.active-false:before {
    content: "Inactive!";
    position: absolute;
    top: 0.9rem;
    left: -.1rem;
    background: rgba(216, 17, 17, 0.93);
    padding: 5px 10px;
    font-size: 0.8rem;
    z-index: 9;
    border: 1px solid #560a0a;
    border-left: none;
    color: #e2e2e2;
    font-weight: 600;
}
.wsuwp-spine-column-stage {
    border: 1px solid #cccbcb;
    position:relative;
}
.ttfmake-section-open .wsuwp-spine-column-stage:before {
    content: "Section area";
    position: absolute;
    top: -14px;
    left: calc( 50% - 40px);
    background: rgba(168, 168, 168, 0.65);
    color: #fff;
    padding: 0px 8px;
    font-size: 0.8rem;
    border-left: #b5b5b5 1px solid;
    border-right: #b5b5b5 1px solid;
    border-bottom: #b5b5b5 1px solid;
}


.wsuwp-spine-builder-column {
    border: 1px dashed rgba(119, 119, 119, 0.81);
    position: relative;
    background: #fff;
}
.ttfmake-section-open .wsuwp-spine-builder-column:before {
    content: "Column area";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: rgb(238, 238, 238);
    padding: 5px 10px;
    font-size: 0.8rem;
    z-index: 9;
    border: 1px solid #d9d9d9;
    border-right: none;
    color: #494949;
    line-height: 1.2rem;
}
.ttfmake-section-faiswsuwpheader .wsuwp-spine-builder-column:before {
	content: none;
}

.wsuwp-spine-builder-column:before,
.wsuwp-spine-builder-column.pad-no:before,
.wsuwp-spine-builder-column.no-pad:before {
    top: 0rem;
    left: 0rem;
}
.wsuwp-spine-builder-column.pad-hair:before {
    top: 0.2rem;
    left: 0.2rem;
}
.wsuwp-spine-builder-column.pad-tight:before {
    top: 0.8rem;
    left: 0.8rem;
}
.wsuwp-spine-builder-column.pad-airy:before {
	top: 1.6rem;
    left: 1.6rem;
}

.ttfmake-section-header {
    margin: 0;
}


.wsuwp-spine-column-stage:after,
.wsuwp-spine-builder-column:after {

    position: absolute;

    color: #827e7e;
    background: rgb(241, 241, 241);
    border: 1px solid #afafaf;


    padding-top: 0;
    line-height: 11px;
	z-index: 9;
    font-size: .7rem;
}

.ttfmake-section-open .wsuwp-spine-column-stage:after {
	content: "section-padding\ \}\ ";
    top: -8px;
    right: 6px;
    border-right: none;
    padding-left: .5rem;
    text-indent: -2px;
}
.ttfmake-section-open .wsuwp-spine-builder-column:after {
    content: "\{\ column-padding";
    top: -8px;
    left: 6px;
    border-left: none;
	padding-right: .5rem;
	text-indent: -4px;
}

.wsuwp-spine-column-stage{
    background: #fff5f5;
    /*border-radius: .5rem;*/
    background: repeating-linear-gradient( 135deg, rgb(219, 222, 212), rgb(219, 222, 212) 3px, rgba(255, 255, 255, 0.4) 3px, rgba(255, 255, 255, 0.4) 15px ), linear-gradient(to right, #dedede, #dedede);
	    /*box-shadow: inset 0 0 .5rem .2rem rgba(50,50,50,.55);*/
}

.wsuwp-spine-builder-column {
	background: #fff5f5;
    background: repeating-linear-gradient( 45deg, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2) 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 15px ), linear-gradient(to right, #dedede, #dedede);
}
.box-model-part-content{
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: bottom right, left, right;
	background: linear-gradient(to right, rgba(255,255,255,.3), rgba(255,255,255,.3)), linear-gradient(to right, #dedede, #dedede);
    padding: 0;
}
.ttfmake-section-body {
    height: 0;
    padding: 0 !important;
    border-radius: .5rem;
}
.ttfmake-section-open .ttfmake-section-body {
    height: auto;
}


.tfmake-section.ttfmake-section-open {

    border-radius:  0 0 .5rem .5rem;
}

.ttfmake-section-body {
	background: #dedede;
	padding-bottom: 3.4rem;
}
/*media all*/
#tinymce {

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
background: linear-gradient(to right, rgba(255,255,255,.3), rgba(255,255,255,.3)), linear-gradient(to right, #dedede, #dedede);
}


}

iframe[id^="ttfmakeeditortext14666957786431_ifr"]{
	background: transparent;
}


.spine-builder-column-overlay-wrapper, .spine-builder-overlay-wrapper {
    font-size: .9rem;
}
